%ul.containar__lineups
  %li.morning
    = image_tag 'morning.png', class: "morning__image" 
    .category-name
      %p 早起き習慣
    .category-hp
      = link_to detailed_posts_path, class: "category-hp__btn category-hp__btn--show" do
        詳しく見る
      = link_to "https://line.me/ti/p/%40jyk1731y", class: "category-hp__btn category-hp__btn--start" do
        さっそく始める
  %li.motion
    = image_tag 'motion.png', class: 'motion__image'
    .category-name
      %p ダイエット習慣
    .category-hp
      = link_to "https://line.me/ti/p/%40jyk1731y", class: "category-hp__btn category-hp__btn--show" do
        詳しく見る
      = link_to "https://line.me/ti/p/%40jyk1731y", class: "category-hp__btn category-hp__btn--start" do
        さっそく始める
  %li.study
    = image_tag 'study.png', class: 'study__image'
    .category-name
      %p 勉強習慣
    .category-hp
      = link_to "https://line.me/ti/p/%40jyk1731y", class: "category-hp__btn category-hp__btn--show" do
        詳しく見る
      = link_to "https://line.me/ti/p/%40jyk1731y", class: "category-hp__btn category-hp__btn--start" do
        さっそく始める
%ul.containar__lineups
  %li.programming
    = image_tag 'programming.png', class: 'programming__image'
    .category-name
      %p プログラミング習慣
    .category-hp
      = link_to "https://line.me/ti/p/%40jyk1731y", class: "category-hp__btn category-hp__btn--show" do
        詳しく見る
      = link_to "https://line.me/ti/p/%40jyk1731y", class: "category-hp__btn category-hp__btn--start" do
        さっそく始める